<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Portfolio Guel Bandeira - Software Enginner Full Stack (PHP/Laravel, JS, MySQL, PostgreSQL). Projects, contact."
    />
    <meta name="robots" content="index,follow" />
    <link rel="canonical" href={`${import.meta.env.BASE_URL}`} />
    <link
      rel="icon"
      type="image/webp"
      href={`${import.meta.env.BASE_URL}logo.webp`}
    />
    <meta name="generator" content={Astro.generator} />
    <!-- Open Graph -->
    <meta
      property="og:title"
      content="Guel Bandeira - Full Stack Developer Software Enginner"
    />
    <meta
      property="og:description"
      content="See my projects in full stack development."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`${import.meta.env.BASE_URL}`} />
    <meta
      property="og:image"
      content={`${import.meta.env.BASE_URL}logo.webp`}
    />

    <!-- Performance hints -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- <link
      rel="stylesheet"
      href={new URL("../styles/fonts.css", import.meta.url).href}
    /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <!-- <link
      rel="stylesheet"
      href={new URL(
        "../node_modules/@fortawesome/fontawesome-free/css/all.css",
        import.meta.url
      ).href}
    /> -->
    <!-- href={`${import.meta.env.BASE_URL}fontawesome/all.css`} -->

    <title>Guel Bandeira</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
  }
</style>
